.edit-title {
    text-align: left;
}


.cardedit-exit {
    position: relative;
    top: 0px;
    color: grey;
    float: right;
}

.cardedit-title {
    margin: 5px;
}

.cardedit-location {
    margin: 5px;
}