.list-content {
    margin: 0;
    background-color: rgb(220,220,220);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.list-title {
    margin: 0 0 5px 0;
    padding: 15px;
    height: 20px;
    background-color: rgba(250,250,250);
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    box-shadow: inset 0 0 5px grey; 
    display: flex;
    justify-content: space-between;
}

.delete-icon{
    color: rgba(128, 128, 128, 0.25);
}

span {
    margin: 0;
    padding: 0;
}

.cardlist-outside {
    width: 100%;
    min-height: 5px;
    max-height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.card-list-add {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-parent {
    width: 94%;
    background-color: rgba(250,250,250);
    border-radius: 5px;
    margin: 5px;
    min-height: 75px;
}

.placeholder {
    background-color: rgba(125, 125, 125, 0.5);
}

.card-content {
    width: 100%;
    min-height: 75px;
}

.add-new {
    width: 92%;
    height: 25px;
    background-color: rgba(250,250,250);
    border-radius: 5px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.add {
    color: grey;
    margin: 5px;
}

