.board-parent {
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

.board-content {
    padding: 40px 0 0 0;
}

.board-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.board-name {
    margin: 10px 15px;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Khula', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
}

.board-list-outer {
    display: flex;
    min-height: 85vh;
    max-height: 85vh;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.board-list-parent {
    display: flex;
    min-height: 85vh;
    margin: 0 5px 0 0;
}

.list-parent {
    background-color: transparent;
    margin: 0 5px;
    width: 250px;
    min-width: 250px;
    border-radius: 5px;
}

.edit-card {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-content {
    width: 50%;
    position: relative;
    top: center;
    padding: 15px;
    color: grey;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 5px 3px rgb(100, 100, 100); 
}

.boardmenu-button {
    color: white;
    margin: 15px;
}

.menu-icon {
    margin: 0 10px;
}

.add-list {
    margin: 0 5px;
    width: 250px;
    min-width: 250px;
    height: 25px;
    background-color: rgba(250,250,250);
    border-radius: 5px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px grey; 
}

.add-list-outer {
    margin: 0 0 5px 0;
    padding: 15px;
    height: 20px;
    background-color: rgb(240, 240, 240);
    color: grey;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    font-family: 'Khula', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: inset 0 0 5px rgb(100, 100, 100); 
    display: flex;
}

.new-list-input {
    width: 70%;
    border-radius: 5px;
    font-family: 'Khula', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.add-button {
    height: 100%;
    border-radius: 5px;
    font-size: 14px;
    background: #33e7b3;
    color: white;
    font-weight: bolder;
    border: none;
    box-shadow: inset 0 0 5px #28b48c; 
}

.add-btn-list {
    margin: 0 5px;
}

::-webkit-scrollbar {
    height: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey; 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25); 
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgb(50, 50, 50); 
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px rgb(50, 50, 50); 
    background-color: rgba(255, 255, 255, 0.75); 
}