.board-parent {
    height: 100vh;
    width: 100%;
}

.board-content {
    padding: 40px 0 0 0;
}

.board-header {
    width: 100%;
    display: flex;
}

.board-name {
    margin: 15px;
    color: rgb(250,250,250);
    font-style: italic;
}

.board-list {
    display: flex;
}

.list-parent {
    background-color: transparent;
    margin: 0 5px;
    width: 20%;
}


.edit-card {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-content {
    width: 50%;
    height: 50%;
    background-color: rgb(250,250,250);
}

