.userboard-parent {
    background-color: rgb(240, 240, 240);
    height: 100vh;
    width: 100%;
}

.userboard-content {
    top: 40px;
    height: 80.5%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
}

.userboard-list-background {
    height: 125px;
    width: 250px;
    margin: 15px;
    background-size: cover;
    display: block;
    border-radius: 5px;
}

.userboard-list {
    width: 600px;
}

.userboard-title {
    text-align: left;
    color: grey;
    margin: 15px;
    font-size: 20px;
}

.userboard-list-title{
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 3px rgb(90, 90, 90);
}

.userboard-display {
    display: flex;
    flex-wrap: wrap;
}